In [4]:
import pandas as pd

# Load the CSV file
file_path = 'business_unit_system_cash_flow.csv'
df = pd.read_csv(file_path)

# Aggregate financial performance for each business unit
aggregate_financial_performance = df.groupby('Unidad de Negocio').agg({
    'Ingresos': 'sum',
    'Egresos': 'sum',
    'Total': 'sum'
}).reset_index()

# Calculate Net Income as Income - Expenses just to confirm the 'Total' column matches this calculation (it should)
aggregate_financial_performance['Calculated Net Income'] = aggregate_financial_performance['Ingresos'] - aggregate_financial_performance['Egresos']
aggregate_financial_performance.sort_values(ascending=False, by=['Calculated Net Income'])
print(aggregate_financial_performance.to_markdown())



import matplotlib.pyplot as plt
import seaborn as sns
from pandas.tseries.offsets import MonthEnd
import locale

# Set the locale to Spanish to handle month names in Spanish
locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')

# Try converting 'Período' to datetime again
try:
    cash_flow_data['Período'] = pd.to_datetime(cash_flow_data['Período'], format='%B %Y', errors='coerce') + MonthEnd(1)
except ValueError:
    # In case of an error, reset the locale and inform the user
    locale.setlocale(locale.LC_TIME, 'C')
    raise

# Reset the locale back to default
locale.setlocale(locale.LC_TIME, 'C')

# Aggregate data by month again
monthly_data = cash_flow_data.groupby(cash_flow_data['Período']).agg({'Ingresos': 'sum', 'Egresos': 'sum'})

# Plotting the updated data
plt.figure(figsize=(15, 6))
plt.plot(monthly_data.index, monthly_data['Ingresos'], label='Ingresos', color='blue')
plt.plot(monthly_data.index, monthly_data['Egresos'], label='Egresos', color='red')
plt.title('Monthly Income (Ingresos) and Outcome (Egresos)')
plt.xlabel('Month')
plt.ylabel('Amount')
plt.legend()
plt.grid(True)
sns.despine()

plt.show()

,Unidad de Negocio,Ingresos,Egresos,Total,Calculated Net Income
4,Desarrolladora GR,1.787357e+08,1.045340e+08,74201722.00,74201722.00
15,Paseo Carmelina,5.035537e+06,2.288707e+06,2746830.00,2746830.00
18,Paseo ServiCenter,3.447449e+06,7.503398e+05,2697109.48,2697109.48
16,Paseo Cortaderas,4.091966e+06,2.216845e+06,1875120.65,1875120.65
17,Paseo Retamas,4.052581e+06,2.287788e+06,1764793.00,1764793.00
20,Soppelsa Carmelina,1.199700e+07,1.089265e+07,1104350.72,1104350.72
22,Soppelsa Retamas,4.664430e+06,4.094439e+06,569990.74,569990.74
21,Soppelsa Cortaderas,3.870338e+06,3.309284e+06,561054.48,561054.48
10,Gym,3.107036e+06,2.848309e+06,258726.75,258726.75
11,HRe,8.931652e+05,6.430042e+05,250161.09,250161.09
12,Hipólito,1.622096e+07,1.597812e+07,242842.62,242842.62
7,Expensas PNSC,2.708212e+06,2.495628e+06,212584.00,212584.00
8,Expensas Paseos Cortaderas,1.493224e+06,1.294437e+06,198786.29,198786.29
2,Bambu/Hanei,2.341263e+06,2.210096e+06,131167.09,131167.09
9,Fútbol,2.807336e+06,2.691681e+06,115654.90,115654.90
5,Expensas PLCA,2.347329e+06,2.242035e+06,105294.00,105294.00
3,CONSULTORIOS,1.958384e+05,1.563510e+05,39487.41,39487.41
13,Horneritos,1.688084e+06,1.656249e+06,31834.81,31834.81
1,Alquileres Varios,1.610094e+06,1.610094e+06,0.00,0.00
6,Expensas PLRE,2.096836e+06,2.102318e+06,-5481.40,-5481.40
0,Academia Musica,7.627500e+04,8.581800e+04,-9543.00,-9543.00
23,TP,5.548967e+05,6.606147e+05,-105718.06,-105718.06
14,Lagus,4.653201e+06,4.870272e+06,-217071.61,-217071.61
19,Paseos - Grdi,3.674663e+06,1.216147e+07,-8486804.56,-8486804.56